.bumblebee {
  height: 20vw;
  position: absolute;
  z-index: 2;
  left: auto;
  right: auto;
  margin-left: auto;
  margin-right: auto;
  top: 7vw;
}

.bumblebee .banco {
  background: #3c3c3c;
  height: 3vw;
  width: 10.5vw;
  position: absolute;
  top: 9vw;
  left: 6.7vw;
  z-index: 4;
  border-radius: 5px 5px 10px 20px;
}

.bumblebee .garfo {
  background: #ccc;
  width: 1.2vw;
  height: 11vw;
  transform: rotate(-25deg);
  left: 27.5vw;
  top: 6vw;
  position: absolute;
  z-index: 4;
}

.bumblebee .guidon {
  background: #000;
  width: 2.5vw;
  height: 1vw;
  margin-left: -1.2vw;
  margin-top: -1vw;
  border-radius: 10px 0 0 10px;
}

.bumblebee .tanque {
  width: 9.5vw;
  height: 4.5vw;
  background-color: yellow;
  position: absolute;
  bottom: 0%;
  z-index: 3;
  left: 17.5vw;
  top: 7.2vw;
  border-radius: 25px 10px 20px 5px;
}

.bumblebee .cano {
  border-right: 1vw solid #585858;
  border-bottom: 1.7vw solid #585858;
  border-radius: 0 0 10px 0;
  width: 16vw;
  height: 3.3vw;
  position: absolute;
  top: 12vw;
  left: 9vw;
  z-index: 4;
}

.bumblebee .motor {
  background: #ccc;
  height: 3vw;
  width: 8.5vw;
  position: absolute;
  top: 12vw;
  left: 16vw;
  border-radius: 10px 5px;
  z-index: 5;
  cursor: pointer;
}

.bumblebee .pneu-traseiro {
  background: #a8a8a8;
  height: 4.5vw;
  width: 4.5vw;
  border-radius: 5vw;
  position: absolute;
  bottom: 0;
  left: 7vw;
  border: 2vw solid #000;
}

.bumblebee .pneu-dianteiro {
  background: #a8a8a8;
  height: 4.5vw;
  width: 4.5vw;
  border-radius: 25vw;
  position: absolute;
  bottom: 0;
  left: 26.5vw;
  border: 1.5vw solid #000;
}

.bumblebee .farol {
  background: #fffb83;
  height: 3vw;
  width: 2vw;
  position: absolute;
  top: 6.9vw;
  left: 27vw;
  border-radius: 1vw;
  cursor: pointer;
}

.bumblebee .farol.aceso::after {
  content: "";
  height: 1.5vw;
  width: 0em;
  display: block;
  border-bottom: 10vw solid transparent;
  border-top: 1vw solid transparent;
  border-right: 35vw solid rgba(255, 251, 131, 0.55);
  margin-top: -0.5vw;
}

.bumblebee .farol .tampa {
  background: grey;
  width: 1vw;
  position: absolute;
  height: 3vw;
  z-index: 3;
}

@keyframes balancando {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-2px);
  }
}

.balanca {
  animation: balancando 0.2s infinite;
}
