.furia {
  height: 20vw;
  position: absolute;
  z-index: 2;
  left: auto;
  right: auto;
  margin-left: auto;
  margin-right: auto;
  top: 7vw;

  .banco {
    background: #3c3c3c;
    height: 2vw;
    width: 8vw;
    position: absolute;
    top: 10vw;
    left: 6.7vw;
    z-index: 4;
    border-radius: 10px 20px 10px 20px;

    &::after {
      content: "";
      display: block;
      background: #3c3c3c;
      height: 2vw;
      width: 5vw;
      position: absolute;
      left: 7vw;
      top: 2vw;
      border-radius: 0px 10px 5px 10px;
    }
  }

  .garfo {
    background: #ccc;
    width: 1.2vw;
    height: 12.5vw;
    transform: rotate(-25deg);
    left: 27vw;
    top: 5vw;
    position: absolute;
    z-index: 4;
  }

  .guidon {
    background: #000;
    width: 3.5vw;
    height: 1vw;
    margin-left: -2.2vw;
    margin-top: -1vw;
    border-radius: 10px 0 0 10px;
  }

  .tanque {
    width: 8.5vw;
    height: 4vw;
    background-color: #5f0909;
    position: absolute;
    bottom: 0%;
    z-index: 3;
    left: 18.5vw;
    top: 9vw;
    border-radius: 34px 16px 20px 5px;
  }

  .cano {
    border-right: 1vw solid #e6e6e6;
    border-bottom: 2vw solid #e6e6e6;
    border-radius: 0 0 10px 0;
    width: 16vw;
    height: 3.3vw;
    position: absolute;
    top: 14vw;
    left: 9vw;
    z-index: 4;
  }

  .motor {
    background: #ccc;
    height: 3vw;
    width: 8.5vw;
    position: absolute;
    top: 14vw;
    left: 16vw;
    border-radius: 10px 5px;
    z-index: 5;
    cursor: pointer;
  }

  .pneu-traseiro {
    background: #a8a8a8;
    height: 4.5vw;
    width: 4.5vw;
    border-radius: 5vw;
    position: absolute;
    bottom: 0;
    left: 7vw;
    border: 2vw solid #000;
  }

  .pneu-dianteiro {
    background: #a8a8a8;
    height: 4.5vw;
    width: 4.5vw;
    border-radius: 25vw;
    position: absolute;
    bottom: 0;
    left: 26.5vw;
    border: 1.5vw solid #000;
  }

  .farol {
    background: #fffdc6;
    height: 3vw;
    width: 2vw;
    position: absolute;
    top: 7.5vw;
    left: 27vw;
    border-radius: 1vw;
    cursor: pointer;

    &.aceso::after {
      content: "";
      height: 1.5vw;
      width: 0em;
      display: block;
      border-bottom: 10vw solid transparent;
      border-top: 1vw solid transparent;
      border-right: 35vw solid rgba(255, 251, 131, 0.55);
      margin-top: -0.5vw;
    }

    .tampa {
      background: grey;
      width: 1vw;
      position: absolute;
      height: 3vw;
      z-index: 3;
    }
  }
}
